.blog-title
.portfolio-title {
    font: normal normal bold 20px/1.375em "playfair display",serif;
}
.blog-image-header {
    max-width: 75%;
}

.equation {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
}
