.body {
    font-family: serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}
.my-website {
    font: normal normal normal 28px/1.375em "playfair display",serif;
    color: #03a9f5;
}

.container {
    display: flex;
    justify-content: space-between;
}
.profile-summary {
    min-width: 35%;
}
.content {
    max-width: 65%;
    flex-grow: 2;
}

/* Content */
.title {
    font: normal normal bold 24px/1.375em "playfair display",serif;
    font-variant: small-caps;
}
.content {

}
.headline {
    letter-spacing: 1px;
    font-weight: 500;
}
