.description {
    font-weight: 600;
}
.top-bar {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: space-between;
}
.profile-summary {
    min-width: 35%;
}
.content {
    max-width: 65%;
    flex-grow: 2;
}
