.resume-title {
    background-color: #494949;
    color: #fff;
    padding: 15px;
    /* border-radius: 0%; */
    line-height: 0;
}
.resume-experience {
    display: inline-flex;
}
.resume-company {
    padding: 10px;
}
.resume-company-name {
    font-weight: 600;
    letter-spacing: 1px;
}
.resume-date {
    font-variant: all-small-caps;
    white-space: nowrap;
}
.resume-job-title {
    font-weight: 600;
    letter-spacing: 1px;
}
.resume-job-description {
    padding: 10px;
    text-align: justify;
}